@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: sticky;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
  gap: 10px;
}

#navbar button {
  cursor: pointer;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 20px;
  border-radius: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  line-height: 0;
  color: white;
  background-image: url(/images/banner.png);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#main h1 {
  margin-top: 100px;
}

#main button {
  cursor: pointer;
  border: none;
  margin: auto;
  background-color: #fb6b00;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

#about {
  display: flex;
  flex-direction: row;
}

#about img {
  height: 500px;
  padding: 10px;
  margin-left: auto;
  border-radius: 10%;
}

#abouttext {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-left: 10px;
  text-align: left;
  max-width: 600px;
}

#abouttext p {
  color: #7b797f;
}

#abouttext h4 {
  color: #fb6b00;
}